.layout.analytics {
	display: flex;

	gap: 2rem;
	width: 100%;
	margin-bottom: 0;
	margin: 0 auto;
	font-size: 18px;
	padding: 2rem;
}

.analytics .page.books {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1920px;
}

.analytics .bookStats {
	flex: 1;
	display: flex;
	flex-direction: column;
	/* grid-template-columns: 
  1fr; */
	min-width: 1100px;
	width: 100%;
	gap: 2rem;
	height: 100%;
	overflow-y: visible;
}

.analytics .bookStats h4 {
	font-size: 3rem;
	font-weight: 600;
}

.analytics .main {
	grid-column: main;
}

.analytics h3 {
	font-size: 3rem;
	font-weight: 600;
}
.analytics .bookStats .goalProgress {
	font-size: 2rem;
	font-weight: 600;
}

.analytics .bookStats .list td {
	font-size: 2rem;
	font-weight: 600;
}

.analytics .shelf {
	display: flex;
	flex: 1;
	height: 100%;
	width: 100%;
}
