 <div class="slider">
  {% for image in project.images %}
    {% assign src = image.url %}
    {% assign alt = image.alt %} 

    {% if forloop.first == true %}
      <input type="radio" name="slide-switch" id="{{ image.filename | remove: '.jpg' }}" checked="checked" />
    {% else %}
      <input type="radio" name="slide-switch" id="{{ image.filename | remove: '.jpg' }}" />
    {% endif %}
    <label for="{{ image.filename | remove: '.jpg' }}">
      {% image src, alt, "project" %}
    </label>
    {% image src, alt, "project" %}
  {% endfor %}
</div>